* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
}
.header {
    position: fixed;
    height: 3rem;
    width: 100%;
    background-color: orange;
    display: flex;
    align-items: center;
}
.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: white;
    align-content: center;
    justify-content: space-between;
    margin: 10rem 10rem;
}
.links {
    display: flex;
    gap: 2rem;
}
.content {
    width: 100%;
    height: auto;
    display: flex;
}
.skills {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(238, 238, 238, 0.911);
}
.about {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.911);
}
.card {
    background-color: white;
    height: auto;
    width: 100%;
    padding: 2rem;
    margin-left: 10rem;
    margin-right: 5rem;
    box-shadow: 0 0 40px #a5a5a554;
    border-radius: 8px;
    display: flex;
    gap: 2rem;
}
.img-container {
    height: 8rem;
    width: 8rem;
    background-color: rgb(46, 49, 49);
    border-radius: 4rem;
}
.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name p {
    margin-top: .5rem;
    color: #666;
}
.name div a i {
    margin-top: 1rem;
    font-size: 2rem;
    color:rgb(88, 169, 223)
}
.name .soc-med {
    display: flex;
    gap: 2rem;
}
.skill-level {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.app-skill-level {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-left: 10rem;
    margin-right: 5rem;
    padding: 2rem;
    justify-content: space-between;
}
.about-content {
    margin-left: 5rem;
    margin-right: 15rem;
    color: #6E6E6E;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.about-title {
    font-size: 5rem;
}
.about-btn {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.portfolio {
    padding: .8rem;
    width: 8rem;
    text-align: center;
    background-color: orange;
    border-radius: .4rem;
    text-decoration: none;
    color: white;
}
.portfolio:hover {
    color: black;
    box-shadow: 5px 5px 0px rgba(255, 166, 0, 0.5);
}
.cv {
    padding: .8rem;
    width: 8rem;
    text-align: center;
    border: 1px solid orange;
    border-radius: .4rem;
    text-decoration: none;
    color: orange;
}
.cv:hover {
    color: black;
    box-shadow: 5px 5px 0px rgba(255, 166, 0, 0.5);
}